---
title: Charaktere
layout: page
includefile: characters
---

{% assign characters = site.characters | sort: 'date' %}
<ul class="post-list">
{% for post in characters %}
  <div class="character clearfix">
    <header>
      <img src="/img/portraits/grafton.png" />
      <div class="char-details">
        <h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
        {% if post.race %}<span class="race">{{ post.race }}</span>{% endif %}
      </div>
    </header>
    <div class="description">
      {{ post.excerpt }} 
    </div>
    <a class="btn btn-primary float-right" href="{{ post.url | absolute_url }}">Hintergrundgeschichte von {{ post.title }}</a>
  </div>
{% endfor %}
</ul>
