.glossary-item {
  h3, h4 {
    display: inline;
  }
  h4 {
    color: grey;
  }
}

#index {
  > ul {
    column-count: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
    -webkit-column-gap: 5em;
    -moz-column-gap: 5em;
    column-gap: 5em;
    -webkit-column-rule-width: 4px;
    -moz-column-rule-width: 4px;
    column-rule-width: 4px;
    -webkit-column-rule-color: #e4aaa3;
    -moz-column-rule-color: #e4aaa3;
    column-rule-color: #e4aaa3;
    -webkit-column-rule-style: dotted;
    -moz-column-rule-style: dotted;
    column-rule-style: dotted;
    > li {
      display: block;
    }
    > li::first-letter {
      font-weight: bold;
    }
  }
}

.center-image
{
  margin: 0 auto;
  display: block;
}

.center-glossary-image
{
  width:35%;
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin: 0 auto;
  display: block;
}

header.masthead {
  margin-top: 56px;
}
@media only screen and (min-width: 992px) {
  header.masthead {
    margin-top:0px;
  }
}

.page-heading-barbarian {
  color: white;
  text-align: center;
  h1 {
    font-family: 'Barbarian';
    color: rgb(241, 235, 214);
    font-weight: 100;
    font-size: 2em;
    text-align: center;
  }
  @media only screen and (min-width: 992px) {
      h1 {
        font-size: 130px;
      }
  }
  @media only screen and (min-width: 360px) and (max-width: 991px) {
      h1 {
          font-size: 80px;
      }
  }
  @media only screen and (min-width: 768px) {
    padding: 125px 0;
  }
  span {
    font-size: 22px;
  }
}

.infobox {
    border-bottom: 1px solid $primary;
    border-top: 1px solid $primary;
    padding: 1em;
    margin: 1em;
}
.hint {
    h3:before {
        content: 'Hinweis: ';
    }
}
.quest {
    h3:before {
        content: 'Quest: ';
    }
    .reward:before {
        content: 'Belohnung: ';
        font-weight: bold;
    }
}

.character {
    padding-top: 2rem;
    &:first-child {
        padding-top: 0;
    }
    header {
        img {
            height: 96px;
            width: 96px;
            vertical-align: top;
        }
        .race {
            font-size: 1.5rem;
        }
    }
    .char-details {
        padding-left: 1em;
        display: inline-block;
    }
    .description {
        padding-top: 1em;
    }
    .backstory {
        text-align: right;
    }
}
